<footer>
  <div class="container">
    <a href="https://opencart.club/" target="_blank">{{ text_project }}</a>|<a href="https://opencart.club/doc/intro/" target="_blank">{{ text_documentation }}</a>|<a href="https://opencart.club/forums/" target="_blank">{{ text_support }}</a><br />
  </div>
</footer>
</body></html>
