<footer id="footer">{{ text_footer }}<br/>{{ text_version }}</footer></div>
{% if logged %}
<script>
$('#button-developer, #header-developer').on('click', function() {
	let $button = $(this);
	$.ajax({
		url: 'index.php?route=common/developer&user_token={{ user_token }}',
		dataType: 'html',
		beforeSend: function() {
			$button.button('loading');
		},
		complete: function() {
			$button.button('reset');
		},
		success: function(html) {
			$('#modal-developer').remove();
			
			$('body').prepend('<div id="modal-developer" class="modal">' + html + '</div>');
			
			$('#modal-developer').modal('show');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$(document).ready(function(){
	$('.form-group input[type="text"][data-length], .form-group textarea[data-length]').each(function(){
		let $input = $(this), len = $input.data('length'), $group = $input.closest('.form-group');
		
		if (len < 1) {
			return;
		}
		
		$input.wrap('<div class="input-group"></div>').after('<span class="input-group-addon">' + $input.val().length + ' / ' + len + '</span>');
		
		if ($input.val().length > len) {
			$group.addClass('has-error');
		}
		
		(function($input, $group, len){
			let $value = $input.next();
			
			$input.on('input',function(){
				$value.html($input.val().length + ' / ' + len);
				
				if ($input.val().length > len || ($input.val().length == 0 && $group.hasClass('required'))) {
					$group.addClass('has-error');
				} else {
					$group.removeClass('has-error');
				}
			});
		})($input, $group, len);
	});
});

</script> 
{% endif %}
</body></html>
